<h1 class='text-center'>=== <%= @user.identifier %> ===</h1>
<hr>

<section class='row'>
  <section class='col-md-6'>
    <h1>URLs</h1>
    <ol><%= partial :'partials/user_info', collection: @user_info[:url_info] %></ol>
  </section>

  <section class='col-md-6'>
    <h1>Response Times</h1>
    <ol>
      <% @user_info[:sorted_avg_response_times_by_url].each do |response_time| %>
        <li><%= "<a href='/sources/#{@user.identifier}/urls#{URI(response_time[:address]).path}'>#{response_time[:address]}</a>: #{response_time[:ave_response_time]} ms" %></li>
      <%end%>
    </ol>
  </section>
</section>
<hr>

<section class='col-md-6'>
  <h1>Browsers</h1>
  <ol><%= partial :'partials/user_info', collection: @user_info[:browser_info] %></ol>
  <h1>Operating Systems</h1>
  <ol><%= partial :'partials/user_info', collection: @user_info[:os_info] %></ol>
  <h1>Resolutions</h1>
  <ol><%= partial :'partials/user_info', collection: @user_info[:resolution_info] %></ol>
</section>
<section class='col-md-6'>
  <%="<a href='/sources/#{@user.identifier}/events' class='btn btn-primary'>Events</a>"%>
</section>
