<section class= 'row'>
  <section class='col-md-12 text-center'>
    <h1> Stats for <%= @user.identifier.capitalize %> Traffic</h1>
    <hr>
    <%="<a href='/sources/#{@user.identifier}/events'class='btn btn-primary'>Events</a>"%>
  </section>
</section>

<section class='row'>
  <section class='col-md-6'>
    <h2>URLs</h2>
    <table class='table table-responsive table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th>Address</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
          <%= partial :'partials/column_stats_with_link', collection: @user_stats[:url_info] %>
      </tbody>
    </table>
  </section>

  <section class='col-md-6'>
    <h2>Response Times</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Address</th>
          <th>Response Time</th>
        </tr>
      </thead>
      <tbody>
          <%= partial :'partials/response_time', collection: @user_stats[:sorted_avg_response_times_by_url] %>
      </tbody>
    </table>
  </section>
</section>
<br>
<br>
<section class= 'row'>
  <section class='col-md-4'>
    <h2>Browsers</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @user_stats[:browser_info] %>
      </tbody>
    </table>
  </section>

  <section class='col-md-4'>
    <h2>Operating Systems</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @user_stats[:os_info] %>
      </tbody>
    </table>
  </section>

  <section class='col-md-4'>
    <h2>Resolutions</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @user_stats[:resolution_info] %>
      </tbody>
    </table>
  </section>
</section>
