<h1 class='text-center'>=== <%= @user.identifier %> ===</h1>
<hr>

<section class='row'>
  <section class='col-md-6'>
    <h1>URLs</h1>
    <ol>
      <% @user_info[:url_info].each do |url| %>
        <li><%= "<a href='/sources/#{@user.identifier}/urls#{URI(url[:description]).path}'>#{url[:description]}</a>... #{url[:count]} requests... #{url[:percent]}%" %></li>
      <%end%>
    </ol>
  </section>

  <section class='col-md-6'>
    <h1>Response Times</h1>
    <ol>
      <% @user_info[:sorted_avg_response_times_by_url].each do |response_time| %>
        <li><%= "<a href='/sources/#{@user.identifier}/urls#{URI(response_time[:address]).path}'>#{response_time[:address]}</a>: #{response_time[:ave_response_time]} ms" %></li>
      <%end%>
    </ol>
  </section>
</section>
<hr>

<section class='col-md-6'>
  <h1>Browsers</h1>
  <ol>
    <% @user_info[:browser_info].each do |browser| %>
    <li><%= "#{browser[:description]}... #{browser[:count]} requests... #{browser[:percent]}%" %></li>
    <%end%>
  </ol>
  <h1>Operating Systems</h1>
  <ol>
    <% @user_info[:os_info].each do |os| %>
    <li><%= "#{os[:description]}... #{os[:count]} requests... #{os[:percent]}%" %></li>
    <%end%>
  </ol>
  <h1>Resolutions</h1>
  <ol>
    <% @user_info[:resolution_info].each do |resolution| %>
    <li><%= "#{resolution[:description]}... #{resolution[:count]} requests... #{resolution[:percent]}%" %></li>
    <%end%>
  </ol>
</section>
<section class='col-md-6'>
  <%="<a href='/sources/#{@user.identifier}/events' class='btn btn-primary'>Events</a>"%>
</section>
