<h1 class='text-center'>Stats for <%= @identifier.capitalize %>/<%= @path %></h1>
<hr>

<section class='row'>
  <section class='col-md-6'>
    <h2>Browsers</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @url_stats[:browser_info] %>
      </tbody>
    </table>
  </section>
  <section class='col-md-6'>
    <h2>Response Times</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <tbody>
        <tr>
          <td>Longest Response Time</td>
          <td><%= @url.requests.maximum(:response_time).round(2).to_s + " ms"%></td>
        </tr>
        <tr>
          <td>Shortest Response Time</td>
          <td><%= @url.requests.minimum(:response_time).round(2).to_s + " ms"%></td>
        </tr>
        <tr>
          <td>Average Response Time</td>
          <td><%= @url.requests.average(:response_time).round(2).to_s + " ms"%></td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

<section class='row'>
  <section class='col-md-6'>
    <h2>Operating Systems</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @url_stats[:os_info] %>
      </tbody>
    </table>
  </section>
  <section class='col-md-6'>
    <h2>Referrals</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Address</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @url_stats[:referral_info] %>
      </tbody>
    </table>
  </section>
</section>

<section class='row'>
  <section class='col-md-6'>
    <h2>Resolutions</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Requests</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <%= partial :'partials/column_stats', collection: @url_stats[:resolution_info] %>
      </tbody>
    </table>
  </section>
  <section class='col-md-6'>
    <h2>HTTP Verbs</h2>
    <table class='table table-responsive table-striped table-bordered'>
      <thead>
        <tr>
          <th>Verbs Used</th>
        </tr>
      </thead>
      <tbody>
        <% @url.types.pluck(:name).uniq.each do |type| %>
        <tr>
          <td><%= type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
