<h1 class='text-center'>=== <%= @identifier %> -- /<%= @path %> ===</h1>
<hr>

Longest Response Time: <%= @url.requests.maximum(:response_time).round(2).to_s + " ms"%><br>
Shortest Response Time: <%= @url.requests.minimum(:response_time).round(2).to_s + " ms"%><br>
Average Response Time: <%= @url.requests.average(:response_time).round(2).to_s + " ms"%><br><br>

Most Popular Operating System:
<ol>
  <% @url.operating_systems.group(:name).order('count_id DESC').count(:id).each do |os, count| %>
    <li>
      <%= "#{os} - #{count}" %>
    </li>
  <% end %>
</ol>

Most Popular Browser:
<ol>
  <% @url.browsers.group(:name).order('count_id DESC').count(:id).each do |browser, count| %>
    <li>
      <%= "#{browser} - #{count}" %>
    </li>
  <% end %>
</ol>

HTTP Verbs:
<ul>
  <% @url.types.pluck(:name).uniq.each do |type| %>
  <li><%= type %></li><%end%>
</ul>

Most Popular Referrer:
 <ol>
   <% @url.referrals.group(:address).order('count_id DESC').count(:id).each do |referral, count| %>
     <li>
       <%= "#{referral} - #{count}" %>
     </li>
   <% end %>
 </ol>